<span class="scroll-list jscroll">
  <% events.each do |event| %>
    <%= link_to event_path(event.id) ,class: "event_title_a p" do %>
      <div class= "index_image_box">
        <%= attachment_image_tag event, :event_image, format: 'jpeg',size: "80x80" ,class: "index_image", fallback: "public/image/no_image.png" %><span>
        <%= attachment_image_tag event, :event_image, format: 'jpeg',size: "150x150" ,class: "a_image", fallback: "public/image/no_image.png" %>
      </span>
      </div>
      <h4 class="event_tooltip"><p>
              投稿者： <%= event.user.name  %></br>
              <%= truncate(event.event_introduction, length:15) %>
            </p></h4>
      <p class="title_strong center">
        <%= event.title %>
      </p>
      <p class= "w20"></p>
      <% end %>
      <div class="index_event_contain">
        <div class="index_title">
         <p class="green">開催期間</p>
         <p><%= event.start.strftime("%m月 %d日") %>〜
            <%= event.end.strftime("%m月 %d日") %></p>
        </div>
        <div class="orchestra-show-box">
          <p><%= event.area.area_name %></p>
          <p>
            <% t = Tag.where(id: EventTag.where(event_id: event.id).pluck(:tag_id)) %>
            <% t.each do |t| %>
              <%= link_to  tag_event_search_path(tag_id: t.id) do %>
                <span>#<%= t.tag_name %></span>
              <% end %>
          　<% end %>
          </p>
        </div>
      </div>
    <% end %>
  <%= paginate events %>
</span>