
<h2>Events</h2>
<p>
<%= @search_past %>の
<%= @search %>
<%= @word %>の検索結果
<%= @events.count %>件
</p>
<%= form_with url: events_path, local: true, method: :get do |f|%>

  <%= f.select :search , options_for_select([['イベント検索'], ['募集者検索'],['タグ検索']]) %>
   
  <%= f.text_field :word , placeholder: "search" %>


  <%= f.label :area,  "地域"%>
  <%= f.collection_select :area, Area.all, :id, :area_name, prompt: "----", required: "required", class: 'page-title', placeholder: " "%>

  <%= f.label :start, "開始日時", class: 'control-label' %>
  <%= f.datetime_field :end_gteq, class: 'form-control' %>

  <%= f.label :end, "終了日時", class: 'control-label' %>
  <%= f.datetime_field :start_lteq, class: 'form-control' %>


  <%= f.select :search_past , options_for_select([['開催予定のイベント'], ['全てのイベント'],['過去のイベント']]) %>  
  <!--%= f.select :sort , options_for_select([['イベント名順'], ['地域名順'],['タグ名順'],['開始日時順'],['終了日時順']]) %>-->
  
  <%= f.submit "search" %>
<% end %>

<%= link_to new_event_path do %>New<% end %>

<hr>
<table class="table">
  <thead>
    <tr>
  <h3>タグ一覧</h3>
      <th>並び替え</th>
    </tr>
  </thead>

      <tbody>
  <% @tags.each do |tag| %>
    <% if tag.events.count != 0 %>
         <td>
          <%= link_to tag.tag_name, tag_event_search_path(tag_id: tag.id) %>
          <%= "(#{tag.events.count})" %>
         </td>
  　<% end %>
　<% end %>
  </tbody>
</table>

<hr>
        <table class="table">
          <thead>
            <tr>
              <!--<th>image</th>-->
              <th>タイトル</th>
              <th>地域</th>
              <th>開催者</th>
              <th>紹介文</th>
              <th>開催開始日</th>
              <th>終了日</th>
              <th>タグ</th>
              <th>コメント数</th>
              <!--%= link_to "過去のイベントも表示する", tags_path   %>-->
            </tr>
          </thead>
          <tbody><% @events.each do |event| %>

            <tr>
              <!--<td>-->
                <!--%= attachment_image_tag event, :event_image, format: 'jpeg', size: "40x40" %>-->
              <!--</td>-->
              <td>
                <%= link_to event_path(event.id) do %><%= event.title %><% end %>
              </td>
              <td>
                <%= event.area.area_name %>
              </td>
              <td>
                <%= event.user.name %>
              </td>
              <td>
                <%= truncate(event.event_introduction, length:15) %>
              </td>
              <td>
                <%= l event.start %>
              </td>
              <td>
                <%= l event.end %>
              </td>
              <td>
                <% t = Tag.where(id: EventTag.where(event_id: event.id).pluck(:tag_id)) %>
                <% t.each do |t| %><%= t.tag_name %><% end %>
              </td>
              <td>
                <p><%= event.comments.count %>件</p>
              </td>
            </tr>
           </div>
          </tbody>
          <% end %>

        </table>
    </div>
  </div>


        <div id="calendar"></div>


