
<div id="title">
  <h2>Events</h2>
</div>

<div class="index_contain">

  <div class="user_sort">
    <h3>並び替え</h3>
      <p><%= sort_link(@q, :title, "タイトル") %></p>
      <p><%= sort_link(@q, :area_id, "地域") %></p>
      <p><%= sort_link(@q, :user_name, "開催者") %></p>
      <p><%= sort_link(@q, :start, "開催開始日") %></p>
      <p><%= sort_link(@q, :end, "終了日") %></p>


    <h3><%= link_to new_event_path do %>新規投稿<% end %></h3>

    <h3 class="info-list">
      <a href="#info-1" class="info">タグ一覧</a>
    </h3>

    <!--<div id="calendar"></div>-->

  </div>

  <div class="users_index">
    <%= render partial: 'index', locals: { events: @events } %>
  </div>
</div>

<div class="search-btn">
  <div class="open-btn"></div><!--開閉ボタン-->
    <div id="search-wrap"><!--表示エリアのHTML開閉ボタンをクリックするたび、search-wrap に表示用のクラス名が付与・除去されて付与の場合出現します。-->

    <%= search_form_for(@q, url: events_path)   do |f| %>
    <div class="sel sel--black-panther">
      <%= select_tag :search , options_for_select([['イベント検索'], ['投稿者検索'], ['タグ検索']]) ,prompt: "検索条件" %>
    </div>
    <span class= "search_title">
      <div class="field">
      <%= f.search_field :title_cont , placeholder: "イベント名" %>
      </div>

      <div class="sel sel--black-panther">
        <%= f.collection_select :area_id_eq, @areas.all, :id, :area_name, prompt: "地域", required: "required", class: 'page-title', placeholder: "地域"%>
      </div>

      <div class="field">
        <%= f.label :start, "開始日時", class: 'control-label' %>
        <%= f.datetime_field :end_gteq, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :end, "終了日時", class: 'control-label' %>
        <%= f.datetime_field :start_lteq, class: 'form-control' %>
      </div>
    </span>

    <span class="search_user">
      <%= f.search_field :user_name_cont , placeholder: "投稿者名" %>
    </span>

    <span class="search_other">
      <%= f.search_field :tags_tag_name_cont , placeholder: "タグ名" %>
    </span>

    <div class="sel sel--black-panther">
      <%= select_tag :search_past , options_for_select([['開催予定'], ['全てのイベント'],['過去のイベント']]) %>
    </div>

    <%= f.hidden_field :type, value: "", id: "type" %>
    <%= f.submit "" %>

    <% end %>
  </div>
</div>


<section id="info-1" class="hide-area">
 <%= render partial: 'tag', locals: { tag_list: @tags } %>
</section>