<div id="title">
  <h2>応募者一覧</h2>
</div>

<div class="index_contain">

  <div class="user-show-side">
      <h3><a href="#info" class="info">thank youコメント</a></p>
    <h3>トークルーム作成</h3>
    <%= form_with model: @room do |f| %>
      <%= f.text_field :room_name,placeholder: "ルーム名" %>
      <%= f.hidden_field :user_id, value:current_user.id %>
      <%= f.hidden_field :recruitment_id, value:@recruitment.id %>

      <%= f.submit "作成", class: "btn-size", id: "btn"%>
    <% end %>
    <h3>トークルーム一覧</h3>
    <% @rooms.each do |room| %>
      <% if room.recruitment_id == @recruitment.id %>
        <div><%= link_to room_path(room.id) do %>
          <%= room.room_name %>
        <% end %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="users_index">
    <span class="scroll-list jscroll">
    <% @recruit_users.each do |recruit_user| %>
    <div class="recruit-user-item">
      <% if recruit_user.recruitment_id == @recruitment.id && recruit_user.join != 3 %>

          <p><%= link_to user_path(recruit_user.user_id) do %><span class="strong"><%= recruit_user.user.name %></span><% end %>
          </p>
          <div class="orchestra-comment">
          <p class="orchestra-item"><span class = "gray">応募楽器：</span>
          <%= (Instrument.find_by(id: recruit_user.instrument_id)).instrument_name %></p>
          <p class="orchestra-item"><span class = "gray">メイン楽器：</span>
          <%= (Instrument.find_by(id: recruit_user.user.instrument_id)).instrument_name %></p>
          </div>
          <p>申請コメント</p>
          <p class="mb10"><%= recruit_user.recruit_comment %>
          </p>
          <% if recruit_user.join == 1  %>
            <p class="gray">協力してもらいますか？</p>
            <%= form_with model: recruit_user, local: true do |f| %>
              <div class="sel sel--black-panther">
              <%= f.select :join ,[["確認中",1], ["参加",2], ["断る",3]] %>
              </div>

              <div class="sel sel--black-panther ">
                <%= f.collection_select :instrument_id, @instruments, :id, :instrument_name, prompt: "選択", required: "required" %>

              </div>
            　<%= f.hidden_field :recruit_comment %>
            　<%= f.hidden_field :recruitment %>
              <%= f.submit "更新", class: "btn-size", id: "btn" , data: { confirm: "相手に通知してよろしいですか？（断ると申請者情報は非表示になります。）"}%>
          　<% end %>


          <% elsif recruit_user.join == 2  %>

          <div class="orchestra-comment">
            <div class="orchestra-item">
              <p class="gray">招待済みトークルーム</p>
              <% @user_rooms.each do |user_room| %>
                <% if user_room.room.recruitment_id == @recruitment.id %>
                  <% if user_room.user_id == recruit_user.user_id %>
                  <div>
                    <%= link_to room_path(user_room.room_id) do %>
                      <%= user_room.room.room_name %>
                    <% end %>
                  </div>
                  <% end %>
                <% end %>
              <% end %>
            <!--<p>許可済み</p>-->
            </div>

            <div class="orchestra-item">
              <p class="gray">トークルームに招待する</p>
              <%= form_with model: @user_room, url: user_rooms_path do |f| %>
                <div class="sel sel--black-panther">
                  <%= f.collection_select :room_id, @users_room.where.not(id: UserRoom.where(user_id: recruit_user.user_id ).pluck(:room_id)) , :id, :room_name, include_blank: "選択して下さい" %>
                </div>
                <%= f.hidden_field :user_id, value:recruit_user.user_id %>
                <%= f.submit '送信' , class: "btn-size", id: "btn"%>
              <% end %>
            </div>

          </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <!--%= paginate @recruit_users %>-->
    </span>
  </div>
</div>

<section id="info" class="hide-area">
  <div class="orchestra-comment">
    <div class="users_index">
      <p class="gray">
        thank youコメントでは応募していただいた方に</br>
        メッセージを送ることができます。</br>
        このメッセージは受信者と公式楽団の方に公開されています。</br>
        募集人数が集まらない時は他の方のthank youコメントを見て</br>
        トークルームから誘ってみましょう。</br>
      </p>
    </div>
    <div class="show-item">
    <%= form_with(model: @thank_you_comment, local: true) do |f| %>

        <p class="gray">送信先</p>
      <div class="sel sel--black-panther">
        <%= f.collection_select :user_id,@recruit_user.all, :id, :name, prompt: "----", required: "required",  placeholder: " "%>
      </div>

      <div class="field">
        <%= f.text_area :thanks_comment, placeholder: "thank youコメント", class: "comment-field black" %>
      </div>

      <%= f.hidden_field :recruitment_id, value: @recruitment.id %>
      <%= f.submit "送信" , id: "btn", class: "btn-size" %>
    <% end %>
    </div>
  </div>
</section>