

<div class="signin">
  <h1>sign in</h1>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>


    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", type: "email", placeholder: "email" %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" , type: "password" ,placeholder: "password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field pretty p-default">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

            </div>
    <div class="actions">
      <%= button_tag :method => :get, :class => "button submit", onfocus: "this.blur();" do %>
        <!--<span class= "col btnripple ">-->
          <!--%= image_tag "log_in.png", class: 'img-fluid border border-0',size: "60x40" %>-->
        <!--</span>-->
        <p>Log in</p>
      <% end %>
    </div>
  <% end %>
</div>


