
<div class="index_contain">
  <div class="user_sort">
    <h3>ルーム名：<span class="green"><%= @room.room_name %></span></h3>
    <% if @users.find_by(user_id: current_user.id).activation == true %>
      <h3>検索</h3>
        <%= form_with url: room_path, local: true, method: :get do |f|%>
          <%= f.text_field :search, placeholder: "search" %>
          <%= f.submit "検索",id: "btn", class: "btn-size" %>
        <% end %>
        <div>
          <% @user.each do |user| %>
            <tr>
              <p><%= user.name %></p>
              <% if @users.pluck(:user_id).include?(user.id) %>
                <p class="green">招待済み</p>
              <% else %>
                <%= form_with model: @user_room, url: user_rooms_path  do |f| %>
                  <%= f.hidden_field :room_id, value: @room.id %>
              　   <%= f.hidden_field :user_id, value: user.id %>
                  <%= f.submit "招待" ,id: "btn", class: "btn-size" %>
                <% end %>
              <% end %>
            </tr>
          <% end %>
        </div>
      <% end %>

      <h3>参加メンバー</h3>
      <% @users.each do |user| %>
        <% if user.activation == true %>
        <tr>
          <p>
            <%= link_to user_path(user.user_id) do %>
              <%= user.user.name %>
            <% end %>
          </p>
        </tr>
        <% end %>
      <% end %>

      <h3>参加待ち</h3>
      <% @users.each do |user| %>
        <% if user.activation == false %>
          <span><%= link_to user_path(user.user_id) do %>
            <%= user.user.name %>
          <% end %></span>

          <% if user.user_id == current_user.id %>
            <%= form_with model: user, local: true do |f| %>

            <div class="pretty p-icon p-round p-pulse">
              <%= f.check_box :activation, {class: "check_box"}, true, false %>
              <div class="state p-success">
                <i class="icon mdi mdi-check"></i>
            　  <%= f.label :activation, "参加する"  %>
              </div>
            </div>

          　<%= f.hidden_field :user_id, value:current_user.id %>
            <%= f.submit "送信" , id: "btn", class: "btn-size" %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
  </div><!--room-menber-contain-->


  <% if @users.find_by(user_id: current_user.id).activation == true %>
    <div class="chat-contain">
      <div class="chat_container">
        <div class="chat_contents scroll" id="scroll">
          <% @chats.each do |chat| %>
            <% if chat.user_id != current_user.id %>
            <div class="members_chat">
              <div class="chat_image">
                <%= link_to attachment_image_tag(chat.user, :profile_image, :fill, 30, 30, fallback: "public/image/no_image.png", size:'80x80', class:"profile-image"), user_path(chat.user) %>
              </div>
              <div class="left-text">
                <div class="name"><%= chat.user.name%></div>
                <div class="text"><%= chat.message%></div>
                <span class="members_text_time"><%= chat.created_at.strftime("%H:%M")%></span>
              </div>
            </div>

            <% else %>
            <div class="my_chat">
              <div class="text"><%= chat.message %></div>
              <div class="my_text_time"><%= chat.created_at.strftime("%H:%M")%></div>
            </div>
            <% end %>
          <% end %>
        </div>

      <%= form_with model: @chat, remote: true do |f| %>
        <%= f.text_field :message ,placeholder: "Aa", class: "gray" %>
        <%= f.hidden_field :room_id %>
        <%= f.submit "送信", class: "btn-size", id: "btn"%>
      <% end %>
    <% end %>
      </div>
    </div>
  </div><!--#roon-contain-->




