
  <td>
            <%= @recruitment.area.area_name %>
          </td>
          <td>
            <%= @recruitment.user.name %>
          </td>
          <td>
            <%= truncate(@recruitment.recruit_introduction, length:15) %>
          </td>
          <td>
            <%= l @recruitment.recruit_start %>
          </td>
          <td>
            <%= l @recruitment.recruit_end %>
          </td>
          <td>
            <%= l @recruitment.recruit_event_start %>
          </td>
          <td>
            <%= l @recruitment.recruit_event_end %>
          </td>


 <%= form_with model: @recruit_instrument,url: recruit_instruments_path, local: true do |f| %>
  <%= f.label :instrument_id, '楽器' %>
  <%= f.collection_select :instrument_id, Instrument.all, :id, :instrument_name, prompt: "----", required: "required",  placeholder: " "%>
  <%= f.label :need_people, '募集人数' %>
　<%= f.number_field :need_people %>

<%= f.submit %>

<% end %>




<!--% @recruit_instruments.where(recruitment_id: @recruitment.id).each do |recruit_instrument| %>-->
<% @recruit_instruments.each do |recruit_instrument| %>
        <tr>
          <td>
            <%= recruit_instrument.instrument.instrument_name %>
          </td>
          <td>
            <%= recruit_instrument.need_people%><%= "名" %>
          </td>
          <td>

        </tr>
<% end %>