<div id="title">
    <h2><%= @recruitment.title %></h2><span>に応募する</span>
  </div>

   <div class="index_contain">
     <div class="recruit-show-contain">
    <div class="index_title">
        
      <p class="green">募集期間</p>
      <p><%= l @recruitment.recruit_start %>〜
      </p>
      <p>
        <%= l @recruitment.recruit_end %>
      </p>
      <p class="green">開催期間</p>
      <p>
        <%= l @recruitment.recruit_start %>〜
        </p>
      <p>
        <%= l @recruitment.recruit_event_end %>
      </p>
      
    </div>
    <div class="index_item">
      <p class="green">募集者</p>
      <p><%= @recruitment.user.name %>
      </p>
      <p><%= @recruitment.area.area_name %>
      </p>
      <p><%= @recruitment.recruit_introduction %>
      </p>
    </div>
  </div>

    <div class="user_sort">
          <%= form_with(model:[ @recruit_user], local: true) do |f| %>
            <div class="field">
              <%= f.text_area :recruit_comment, placeholder: "申請コメント"%>
            </div>
            <%= f.hidden_field :recruitment_id, value:@recruitment.id %>
             <%= f.submit "送信" , id: "btn", class: "comment_btn" %>
          <% end %>
        
      </div>
</div>
   