<h1>Public::Recruitments#confirm</h1>

              <td>
                <%= @recruitment.title %>
              </td>
              <td>
                <%= @recruitment.area.area_name %>
              </td>
              <td>
                <%= @recruitment.user.name %>
              </td>
              <td>
                <%= @recruitment.recruit_introduction %>
              </td>
              <td>
                <%= @recruitment.recruit_start %>
              </td>
              <td>
                <%= @recruitment.recruit_end %>
              </td>


          <div class="new-comment">
            <%= form_with(model:[ @recruit_user], local: true) do |f| %>
              <%= f.text_area :recruit_comment, rows:'5',placeholder: "申請コメント" %>
              <%= f.hidden_field :recruitment_id, value:@recruitment.id %>

              <%= f.submit "送信する" %>
            <% end %>
          </div>