<div id="title">
    <h2>応募する</h2>
  </div>

   <div class="confirm-contain">
    <div class="confirm-item">
      <div class="confirm-box">
        <h3 class="green">
          <%= @recruitment.title %>
        </h3>
        <p>
          地域：<%= @recruitment.area.area_name %>
        </p>
        <p>
          募集者<%= @recruitment.user.name %>
        </p>
        <p>
          <%= @recruitment.recruit_introduction %>
        </p>
        <p>
          <%= l @recruitment.recruit_start %>~
        </p>
        <p>
          <%= l @recruitment.recruit_end %>
        </p>

        <div>
          <%= form_with(model:[ @recruit_user], local: true) do |f| %>
            <div class="field">
              <%= f.text_area :recruit_comment, placeholder: "申請コメント"%>
            </div>
            <%= f.hidden_field :recruitment_id, value:@recruitment.id %>
             <%= f.submit "送信" , id: "btn", class: "comment_btn" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
