<h1>Public::Recruitments#confirm</h1>
              <td>
                <%= @recruitment.title %>
              </td>
              <td>
                <%= @recruitment.area.area_name %>
              </td>
              <td>
                <%= @recruitment.user.name %>
              </td>
              <td>
                <%= @recruitment.recruit_introduction %>
              </td>
              <td>
                <%= l @recruitment.recruit_start %>
              </td>
              <td>
                <%= l @recruitment.recruit_end %>
              </td>


          <div class="new-comment">
            <%= form_with(model:[ @recruit_user], local: true) do |f| %>
              
              <% if @recruitment.user == current_user %>
                <%= f.collection_select :user_id,@recruit_users.all, :id, :name, prompt: "----", required: "required", class: 'page-title', placeholder: " "%>
                <%= f.text_area :thanks_comment, rows:'5',placeholder: "thank youコメント" %>
              
              <% else %>
                <%= f.text_area :recruit_comment, rows:'5',placeholder: "申請コメント" %>
              <% end %>
              
              <%= f.hidden_field :recruitment_id, value:@recruitment.id %>
              <%= f.submit "送信する" %>
            <% end %>
          </div>