
<h2>募集一覧</h2>


<p>
検索結果
<%= @recruitments.count %>件
</p>


<%= search_form_for(@q)   do |f| %>
  <%= select_tag :search , options_for_select([['イベント検索'], ['募集者検索'],['楽器検索']]), class: "search_type",prompt: "検索条件" %>

  <%= f.label :title_cont, "イベントタイトル", class: 'search_title'%>
  <%= f.search_field :title_cont , placeholder: "search", class: 'search_title' %>
  <span class="search_title">
  <%= f.label :area_id_eq,  "地域", class: 'search_title' %>
  <%= f.collection_select :area_id_eq, Area.all, :id, :area_name, prompt: "----", required: "required",  placeholder: " ", class: "search_title" %>
  <%= f.label :start, "開始日時", class: 'search_title' %>
  <%= f.datetime_field :recruit_end_gteq, class: 'search_title' %>
  <%= f.label :end, "終了日時", class: 'search_title' %>
  <%= f.datetime_field :recruit_start_lteq, class: 'search_title' %>
  <%= f.label :start, "開始日時", class: 'search_title' %>
  <%= f.datetime_field :recruit_event_end_gteq, class: 'search_title' %>
  <%= f.label :end, "終了日時", class: 'search_title' %>
  <%= f.datetime_field :recruit_event_start_lteq, class: 'search_title' %>
  </span>

  <span class="search_user">
  <%= f.label :name_cont, "募集者"   %>
  <%= f.search_field :user_name_cont , placeholder: "search"%>
  </span>

  <span class="search_other">
  <%= f.label :instrument_id_eq,  "楽器"%>
  <%= f.collection_select :recruit_instruments_instrument_id_eq, Instrument.all, :id, :instrument_name, prompt: "----", required: "required", placeholder: " "%>
  </span>

  <%= select_tag :search_past , options_for_select([['開催予定のイベント'], ['全てのイベント'],['過去のイベント']]) %>

  <%= f.submit "search" %>
<% end %>

<% form_with url: recruit_instruments_path do |f|%>

  <span class="search_other">
  <%= f.label :instrument_id,  "楽器"%>
  <%= f.collection_select :instrument_id, Instrument.all, :id, :instrument_name, prompt: "----", required: "required", placeholder: " "%>
  </span>

  <%= select_tag :search_past , options_for_select([['開催予定のイベント'], ['全てのイベント'],['過去のイベント']]) %>

  <%= f.submit "search" %>
<% end %>

<% if current_user.role == "orchestra" %>
  <%= form_with model: @recruitment do |f| %>
    <%= f.hidden_field :user_id, value:current_user.id %>
  <%= f.submit "new" %>
<% end %>
 <% end %>
        <table class="table">
          <thead>
            <tr>
              <!--<th>image</th>-->
              <th><%= sort_link(@q, :title, "タイトル") %></th>
              <th><%= sort_link(@q, :area_id, "地域") %></th>
              <th><%= sort_link(@q, :user_name, "募集者") %></th>
              <th>recruit_introduction</th>
              <th><%= sort_link(@q, :recruit_start, "募集開始日") %></th>
              <th><%= sort_link(@q, :recruit_end, "募集終了日") %></th>
              <th><%= sort_link(@q, :recruit_event_start, "本番開始日") %></th>
              <th><%= sort_link(@q, :recruit_event_end, "本番終了日") %></th>
              
            </tr>
          </thead>

</form>


<ul>
  <tbody>
          <% @recruitments.each do |recruit| %>
        <tr>
          <td>
            <%= link_to recruitment_path(recruit.id) do %>
              <%= recruit.title %>
            <% end %>
          </td>
          <td>
            <%= recruit.area.area_name %>
          </td>
          <td>
            <%= recruit.user.name %>
          </td>
          <td>
            <%= truncate(recruit.recruit_introduction, length:15) %>
          </td>
          <td>
            <%= l recruit.recruit_start %>
          </td>
          <td>
            <%= l recruit.recruit_end %>
          </td>
          <td>
            <%= l recruit.recruit_event_start %>
          </td>
          <td>
            <%= l recruit.recruit_event_end %>
          </td>

        </tr>
      <% end %>
       </div>
      </tbody>

        </table>
    </div>
  </div>
