<div id="title">
  <h2>新規募集</h2>
</div>

<!--<div class="recruit_form_container">-->
  <div class="index_contain">
    <div class="user_sort">
<p><a href="#info" class="modal-open">募集人数の追加</a></p>

  <% @recruit_instruments.each do |recruit_instrument| %>
          <tr>
            <td>
              <%= recruit_instrument.instrument.instrument_name %>
            </td>
            <td>
              <%= recruit_instrument.need_people%><%= "名" %></br>
            </td>
            <td>

          </tr>
  <% end %>


</div>
        <!--</div>-->

<!--<div class="form_container">-->
<div class="users_index">
  <!--<div class="welcome">-->

    <%= form_with(model: @recruitment, local: true) do |f| %>
    <div class="form-contain">
      <div class="form">
        <div class="field">
          <%= f.label :title, 'タイトル' %><br />
          <%= f.text_field :title %>
        </div>

        <div class="field">
          <%= f.label :area_id, '地域' %><br />
          <span class=" sel">
            <%= f.collection_select :area_id, Area.all, :id, :area_name, prompt: "----", required: "required", placeholder: " "%>
          </span>
        </div>

        <div class="field">
          <%= f.label :recruit_introduction, '説明文' %><br />
          <%= f.text_area :recruit_introduction %>
        </div>

      </div>
      <div class="form">
        <div class="field">
          <%= f.label :募集開始日時, class: 'control-label' %>
          <%= f.datetime_field :recruit_start, class: 'form-control' %>
        </div>

        <div class="field">
          <%= f.label :募集終了日時, class: 'control-label' %>
          <%= f.datetime_field :recruit_end, class: 'form-control' %>
        </div>

        <div class="field">
          <%= f.label :本番開始日時, class: 'control-label' %>
          <%= f.datetime_field :recruit_event_start, class: 'form-control' %>
        </div>

        <div class="field">
          <%= f.label :本番終了日時, class: 'control-label' %>
          <%= f.datetime_field :recruit_event_end, class: 'form-control' %>
        </div>

      </div>
    </div>
        <div class="actions">
          <div class="pretty p-icon p-round p-pulse actions1" id="user_remember_me">
          <%= check_box_tag :with_event, true %>
        <div class="state p-success">
            <i class="icon mdi mdi-check"></i>
     　　   <%= f.label "イベントにも登録しますか？"  %>
        </div>
    </div>
          <%= f.hidden_field :user_id, value:current_user.id %>

          <%= button_tag :method => :get, :class => "btn-size", id: "btn" do %>
            <!--<span class= "col btnripple ">-->
              <!--%= image_tag "log_in.png", class: 'img-fluid border border-0',size: "60x40" %>-->
            <!--</span>-->
            <p>確定</p>
          <% end %>
        </div>
    <% end %>
  <!--</div>-->
</div>


<section id="info" class="hide-area">
<h3>募集する楽器と人数を追加して下さい</h3>

  <%= form_with url: recruit_instruments_path , local: true do |f| %>
    <div class="form-contain">
      <div class="field">
        <%= f.label :instrument_id, '楽器' %><br />
        <span class=" sel">
        <%= f.collection_select :instrument_id, Instrument.all, :id, :instrument_name, prompt: "選択", required: "required"%>
        </span>
      </div>
      <div class="field">
        <%= f.label :need_people, '募集人数' %>
　      <%= f.text_field :need_people, placeholder: "半角数字を入力", class: "add_need_people" %>
      </div>
        <%= f.hidden_field :recruitment_id, value: @recruitment.id %>
        <%= f.submit "追加", id: "btn", class: "btn-size btn-green"%>
    </div>
  <% end %>
</section>