<h1>Public::Recruitments#show</h1>
<div class="recruit-show-contain">
  <div class="show-item recruit-show">
    <div class="show-item-box">
        <h3>
          <%= @recruitment.title %>
        </h3>
        <p>地域：
          <%= @recruitment.area.area_name %>
         </p>
        <p>投稿者：
          <%= @recruitment.user.name %>
        </p>
        <p>
          <%= l @recruitment.recruit_start %>
        </p>
        <p>
          <%= l @recruitment.recruit_end %>
        </p>
        <p>
          <%= @recruitment.recruit_introduction %>
        </p>
    </div>
    <div>
      <% if  @recruitment.recruit_end > Time.now %>
        <% if @recruitment.user == current_user %>
          <p>
            <%= link_to  recruit_users_path(recruitment: @recruitment.id) ,class: "green" do %>応募者一覧へ<% end %>&nbsp;応募未対応<%= @count %>件
          </p>
          <p>
            <%= link_to edit_recruitment_path(@recruitment.id) ,class: "gray" do %>edit<% end %>
            <%= link_to  recruitment_path(@recruitment.id), remote: true, method: :delete ,class: "gray" do %>Delete<% end %>
          </p>
        <% else %>

          <% if current_user.role == "general" %>
            <% if @recruitment_user.nil? %>
              <p>
                <%= link_to  recruitments_confirm_path(@recruitment.id) do %>応募する<% end %>
              </p>
            <% else %>
              <p>応募済み</p>
            <% end %>
          <% end %>
        <% end %>
      <% else %>
          この応募は終了しました。
      <% end %>
    </div>
  </div>
</div>