<h1>Public::Recruitments#show</h1>

              <td>
                <%= @recruitment.title %>
              </td>
              <td>
                <%= @recruitment.area.area_name %>
              </td>
              <td>
                <%= @recruitment.user.name %>
              </td>
              <td>
                <%= @recruitment.recruit_introduction %>
              </td>
              <td>
                <%= @recruitment.recruit_start %>
              </td>
              <td>
                <%= @recruitment.recruit_end %>
              </td>

            <% if @recruitment.user == current_user %>

              <td>
               <%= link_to edit_recruitment_path(@recruitment.id) do %>edit<% end %>
              </td>
              <td>
                <%= link_to  recruitment_path(@recruitment.id), remote: true, method: :delete do %>Delete<% end %>
              </td>
              <td>
                <%= link_to  recruit_users_path(recruitment: @recruitment.id) do %>応募者一覧へ<% end %>応募未対応<%= @count %>件
              </td>
            <% else %>

              <% if current_user.role == "general" %>
                <% if @recruitment_user.nil? %>
                  <td>
                    <%= link_to  recruitments_confirm_path(@recruitment.id) do %>応募する<% end %>
                  </td>
                <% else %>
                  <p>応募済み</p>
                <% end %>
              <% end %>
            <% end %>


