
<h2>General users</h2>
    <% @users.each do |user| %>
      <% if user.role == "general" %>
        <div class="admin-users">
          <%= link_to admin_user_path(user.id) do %>
            <%= attachment_image_tag user, :profile_image, format: 'jpeg',class: "image", fallback: "public/image/no_image.png" %>
          <% end %>
          <div class="admin-name">
              <p><%= link_to admin_user_path(user.id) do %>
                  <%= user.name %>
                <% end %>
              </p>
          </div>
        </div>
      
      <% end %>
    <% end %>
                
  <h2>Orchestras</h2>
    <% @users.each do |user| %>
      <% if user.role == "orchestra" %>
        <div class="admin-users">
          <%= link_to admin_user_path(user.id) do %>
            <%= attachment_image_tag user, :profile_image, format: 'jpeg',class: "image", fallback: "public/image/no_image.png" %>
          <% end %>
          <div class="admin-name">
              <p><%= link_to admin_user_path(user.id) do %>
                  <%= user.name %>
                <% end %>
              </p>
          </div>
        </div>
      <% end %>
    <% end %>
    