<% visitor = notification.visitor %>
<% visited = notification.visited %>

<div>
  <span>
    <%= link_to user_path(visitor) do %>
      <span class="strong"><%= visitor.name %></span>
    <% end %>
      <%= 'さんが' %>
    <% case notification.action %>
      <% when 'join' then %>
        <%= "申請しました" %>
      <% when 'thanks' then %>
        <%= "あなたに" %>
          <%= link_to "thank youメッセージ", thank_you_comments_path(user_id: current_user.id) %>
          <%= "を送信しました。" %>
      <% when 'add_room' then %>
          <%= link_to "チャットルーム", rooms_path %>
          <%= "に招待しました。" %>
      <% when 'chat' then %>
        <span>
          <%= link_to room_path(notification.room) do %>
            <span class="strong"><%= notification.room.room_name %></span>
          <% end %>
            <%= "にメッセージを送信しました。" %>
        </span>
        <p class= "text-muted mb-0" %>
        <%= Chat.find_by(id: notification.chat_id)&.message %>
      </p>
    <% end %>
    </span>
  </div>

  <div class="green">
    <%= time_ago_in_words(notification.created_at).upcase %>
  <hr>
  </div>