
  <p>
    <%= link_to recruitment_path(recruit.id), class: "black"  do %>
      <%= recruit.title %>
    <% end %>
  </p>
  <p>
    <%= recruit.area.area_name %>
  </p>
  <p>
    <%= recruit.recruit_start.strftime("%Y年 %m月 %d日") %>〜
    <%= recruit.recruit_end.strftime("%Y年 %m月 %d日") %>
  </p>

