<div id="title">
  <h3>プロフィール編集</h3>
</div>

<div class="users_index">
    <%= form_with(model: @user, url: user_path, local: true, method: :put) do |f| %>
    <div class="form-contain">
      <div class="form">
        <div class="field">
          <%= f.label :name %><br />
          <%= f.text_field :name, autofocus: true ,type: "text",placeholder: "username" %>
        </div>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", type: "email", placeholder: "email" %>
        </div>

        <div class="field">
          <%= f.label :area_id, '地域' %><br />
          <span class=" sel">
            <%= f.collection_select :area_id, Area.all, :id, :area_name, prompt: "----", required: "required", class: 'page-title', placeholder: " "%>
          </span>
        </div>

        <div class="field">
          <%= f.label :instrument_id, 'メイン楽器' %><br />
          <span class="sel sel--black-panther">
            <%= f.collection_select :instrument_id, Instrument.all, :id, :instrument_name, prompt: "----", required: "required", class: 'page-title' %>
          </span>
        </div>
      </div>

      <div class="form">
        <div class="field mb10">
          <%= f.label :profile_image, 'プロフィール写真', class: "mb10" %><br />
          <%= f.file_field :profile_image, class: "image-field", style: "display: none" %>
          <%= attachment_image_tag @user, :profile_image,  format: 'jpeg', size: "80x80", fallback: "public/image/no_image.png", onClick: "$('.image-field').click()", class: "profile_image", id: "profile_image" %>
        </div>

        <div class="field mb10">
          <%= f.label :introduction, 'プロフィール', class: "mb10" %><br />
          <%= f.text_area :introduction %>
        </div>

        <div class="actions">
          <%= button_tag :method => :get, :class => "btn-size", id: "btn" do %>
            <p>編集</p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
