<h1>Mypage</h1>

  <div class="col-sm-2">会員ID</div>
  <div><%= @user.id %></div>

  <%= attachment_image_tag @user, :profile_image, :fill, 300, 300, format: 'jpeg', size: "300x300" , class: 'shadow mb-5 bg-white rounded'%>

  <div class="col"><%= @user.name %> </div>
  <div class="col"><%= @user.area.area_name %> </div>
  <div class="col"><%= @user.instrument.instrument_name %> </div>
  <div class="col"><%= @user.introduction %> </div>
  <div class="col"><%= @user.role %> </div>
  <% if @user == current_user %>
    <%= link_to edit_user_path(@user.id) do %>
     <p> 編集 </p>
    <% end %>

    <!--通知-->
    <%= render "public/partial/circle" %>

      <h2>参加履歴</h2>
      <% @recruit_users.each do |recruit_user| %>
        <% Recruitment.where(id: recruit_user.recruitment_id).each do |recruit| %>
          <% if  (recruit.recruit_start..recruit.recruit_end).cover? Time.nowe %>
            <div>
              <tr>
                <%= render partial: "recruit_index", locals:{ recruit: recruit } %>

              </tr>
            </div>
          <% else %>
            <h2>参加予定</h2>
            <div>
              <tr>
                <%= render partial: "recruit_index", locals:{ recruit: recruit } %>

              </tr>
            </div>
          <% end %>
        <% end %>
      <% end %>

     <h2>トークルーム </h2>
        <%= link_to "一覧へ", rooms_path %>

    <% if current_user.role == "orchestra" %>
          <h2>募集中</h2>
      <% @recruitments.each do |recruit| %>
        <% if recruit.user_id == current_user.id %>
          <% if  (recruit.recruit_start..recruit.recruit_end).cover? Time.now %>
              <div>
                <tr>
                    <%= render partial: "recruit_index", locals:{ recruit: recruit } %>
                  <td>
                    <%= link_to  recruit_users_path(recruitment: recruit.id) do %>応募<%= @recruit_user.where(recruitment_id: recruit).count %>件<% end %>
                  </td>
                </tr>
              </div>
          <% else %>
          <h2>募集終了</h2>
                <%= render partial: "recruit_index", locals:{ recruit: recruit } %>
          <% end %>
            </tbody>
        <% end %>
      <% end %>
    <% else %>
      <% unless Orchestra.pluck(:user_id).include?(current_user.id) %>
        <div><%= link_to "公式楽団申請はこちら", new_orchestra_path %></div>
      <% end %>
    <% end %>
  <% end %>


