
  <nav>
    <ul>
      <% if user_signed_in? %>
      <li><%= link_to "log out", destroy_user_session_path, method: :delete %></li>
      <li><%= link_to "top", root_path %></li>
      <li class="has-child"><%= link_to "users", users_path %>
        <ul>
          <li class="has-child"><%= link_to 'mypage', user_path(current_user.id) %>
            <ul>
              <li><%= link_to "thank you", thank_you_comments_path(user: current_user) %></li>
              <li><%= link_to  (notifications_path) do %>通知
                <% if unchecked_notifications.any? %>
                  <span class="orange"><%= unchecked_notifications.count %></span>件
                <% end %>
              <% end %></li>
              <% unless Orchestra.pluck(:user_id).include?(current_user.id) %>
                <% if current_user.role == "genera" %>
                <li><%= link_to "公式楽団申請", new_orchestra_path %></li>
                <% end %>
              <% end %>
            </ul>
          </li>
          <li><%= link_to "トークルーム", rooms_path %></li>
        </ul>
      </li>

      <li class="has-child"> <%= link_to "募集中", recruitments_path %>
        <ul>
          <li><%= link_to "イベント", events_path %></li>
        </ul>
      </li>
      <% else %>
        <li><%= link_to "start", new_user_registration_path %></li>
        <li><%= link_to "top", root_path %></li>
        <li><%= link_to "about", about_path %></li>
      <% end %>
    </ul>
  </nav>