<!DOCTYPE html>
<html>
  <head>
    <title>Tuning</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link href=" https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">
    <!--<link rel="stylesheet" type="text/css" href="css/7-2-3.css">-->
    <!--<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">-->
    <!--<link rel="stylesheet" href="jquery.pagepiling.css">-->
    <link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Modaal/0.4.4/css/modaal.min.css">
<!--<style type="text/css"></style>-->

  </head>
<div id="bg">
    <!--<div id="header">-->
    <div id="main">

  <body data-turbolinks="false">

    <% if admin_signed_in? %>
      <%= render "layouts/admin_header" %>
    <% else %>
      <%= render "layouts/header" %>
    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
    </div>
</div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Modaal/0.4.4/js/modaal.min.js"></script>-->
    <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>-->
    <script src="modaal.js"></script>
    <%= javascript_include_tag "shards" %>
    <!--%= javascript_include_tag "modaal.js" %>-->
<script>
$(function(){
$('#bg').shards(
// 	[249,169,57,.25],// 	oreng
// 	[253,238,215,.25],// white
// 	[25,70,33,.9],// 濃い緑
// 	[64,39,23,.9],// 	brown
// 	[64,39,23,.9],// 	brown
  [0,0,0,.9],
  [0,0,0,.8],
// 	[58,172,173,.8],
// 	[120,141,99,.9],// 緑
// 	[171,15,80,.8],// red
	[64,39,23,.8],// 	brown
// 	[70,28,84,.8],// 	紫
	20,
	.6,
	1,
	1,
	false
// [10,35,180,.15],[255,20,220,.25],[0,0,0,.25],20,.58,2,.15,true
);
});

</script>
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
    <!--<script type="text/javascript" src="jquery.pagepiling.js"></script>-->

    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>-->
    <!--<script src="js/jquery.pagepiling.min.js"></script>-->

    <!--<script src="js/7-2-3.js"></script>-->
  </body>
</html>
