
<%= render "users/shared/error_messages", resource: resource %>
<div class="form_container">
  <div class="welcome">
    <div class="box">
      <div class="signup nodisplay">

        <h1>register</h1>

          <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>

            <div class="field">
              <%= f.label :name %><br />
              <%= f.text_field :name, autofocus: true ,type: "text",placeholder: "username",id: "start" %>
            </div>

            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", type: "email", placeholder: "email",id: "start" %>
            </div>

            <div class="field">
              <%= f.label :password %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password",  type: "password", placeholder: "password",id: "start" %>
            </div>

            <div class="field">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password", type: "password" ,placeholder: "password",id: "start" %>
            </div>

            <div class="field">
              <%= f.label :area_id, 'area' %><br />
              <span class=" sel sel--black-panther">
                <%= f.collection_select :area_id, Area.all, :id, :area_name, prompt: "----", required: "required", class: 'page-title', placeholder: " ",id: "start" %>
              </span>
            </div>

            <div class="field">
              <%= f.label :instrument_id, 'main instrument' %><br />
              <span class="sel">
                <%= f.collection_select :instrument_id, Instrument.all, :id, :instrument_name, prompt: "----", required: "required", class: 'page-title' %>
              </span>
            </div>

            <div class="actions">
              <%= button_tag :method => :get, :class => "button submit" do %>
              <p>Sign up</p>
              <% end %>
            </div>
          <% end %>
        </div>

        <%= render "users/sessions/new" %>

      </div>



    <div class="leftbox">
      <h2 class="title"><span>Tuning</span></h2>
      <p class="desc">Let's <span>tune</span> together</p>

      <p class="account green">have an account?</p>
      <button class="button" id="signin">log in</button>
    </div>
    <div class="rightbox">
      <h2 class="title"><span>Tuning</span></h2>
      <p class="desc">Let's <span>tune</span> together</p>

      <p class="account green">don't have an account?</p>
      <button class="button" id="signup">sign up</button>
    </div>

    </div>
   </div>
<%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %>